/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    background: #000;
    color: #fff;
    overflow-x: hidden;
    padding-top: 80px;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
}

.navbar ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.navbar a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #0ea5e9;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.3s;
}

.navbar a:hover::after {
    width: 100%;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.hero-bg {
    position: absolute;
    width: 120%;
    height: 120%;
    background: radial-gradient(circle, #0ea5e9, #000);
    filter: blur(140px);
    z-index: -1;
}

.title {
    font-size: 5rem;
    font-weight: 800;
}

.subtitle {
    color: #94a3b8;
    margin-top: 10px;
    font-size: 1.3rem;
}

/* STORY */
.story {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

.story.dark {
    background: #020617;
}

.story h2 {
    font-size: 3.5rem;
    color: #0ea5e9;
}

.story p {
    margin-top: 15px;
    color: #cbd5f5;
    font-size: 1.2rem;
}

/* PROJECTS */
.project {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    border-bottom: 1px solid #111;
}

.project h2 {
    font-size: 3.5rem;
}

.project p {
    color: #94a3b8;
    font-size: 1.2rem;
}

/* SKILLS */
.skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills h2 {
    font-size: 3rem;
    color: #0ea5e9;
    margin-bottom: 20px;
}

.tech {
    font-size: 2rem;
    opacity: 0.3;
    transition: 0.3s;
}

.tech:hover {
    opacity: 1;
    transform: scale(1.2);
}

/* CONTACT */
.contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    margin-top: 20px;
    padding: 15px 40px;
    border-radius: 50px;
    background: linear-gradient(90deg, #0ea5e9, #38bdf8);
    text-decoration: none;
    color: white;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 40px;
    background: #020617;
    color: #64748b;
}